@{
    ViewBag.Title = "Home Page";
}

<div class="content__inner">
    <div class="card">
        <div class="card-body text-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-3">Dashboard</h1>
                    <p class="lead">Welcome to Admin Dashboard.</p>
                    <p class="lead">Please navigate through the side panel on the left.</p>
                </div>
            </div>
        </div>
    </div>
</div>