@model TW.Models.PublicViewModel

<section id="slider">
    <div class="container-slider">
        <div class="slider-body">
            <h4 class="title text-center">Our <strong><span class="colored">Clients</span></strong></h4>
            <div class="slider-inner">
                @foreach (var client in Model.OurClients)
                {
                    var imagepath = "http://twadmin.thebyteheart.com/" + @client.ImageUrl;
                    <div><img src="@imagepath" alt="bengal meat" /></div>
                }
               
            </div>
        </div>
    </div>
</section>