@model TW.Models.PublicViewModel

<section id="content" class="alt-bg">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="cta-box">
                    <div class="row">
                        <div class="span8">
                            <div class="cta-text">
                                <h2>Special price in very <span>limited</span> times</h2>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="cta-btn">
                                <a href="javascript:void(0);" class="btn btn-theme">
                                    <i class="icon-phone"></i>
                                    @Html.Raw(Model.CompanySetting.MainContactNo)
                                </a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>