@{
    ViewBag.Title = "Home Page";
}

<!-- section featured -->
<section id="featured">

    <!-- slideshow start here -->

    <div class="camera_wrap" id="camera-slide">

        <!-- slide 1 here -->
        <div data-src="img/slides/camera/slide1/img1.jpg">
            <div class="camera_caption fadeFromLeft">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <h2 class="animated fadeInDown">
                                <strong>
                                    All Kinds of <span class="colored">
                                        Business
                                        Promotional
                                    </span>
                                </strong>
                            </h2>
                            <p class="animated fadeInUp">
                                item & Creative Digital Sign Manufacturer & Supplier
                            </p>

                        </div>
                        <div class="span6">
                            <img src="img/slides/camera/slide1/screen_1.png" alt="" class="animated bounceInDown delay1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 2 here -->
        <div data-src="img/slides/camera/slide2/img1.jpg">
            <div class="camera_caption fadeFromLeft">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <img src="img/slides/camera/slide2/iMac.png" alt="" />
                        </div>
                        <div class="span6">
                            <h2 class="animated fadeInDown">
                                <strong>
                                    Top Digital Signage Solutions <span class="colored">
                                        &
                                        Manufacturer in Bangladesh
                                    </span>
                                </strong>
                            </h2>
                            <p class="animated fadeInUp">
                                Present & future all about new technologies. Digital
                                Signage Solutions is delivering wonderful performance in commercial and mass
                                communications.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- slide 3 here -->
        <div data-src="img/slides/camera/slide2/img1.jpg">
            <div class="camera_caption fadeFromLeft">
                <div class="container">
                    <div class="row">

                        <div class="span6">
                            <h2 class="animated fadeInDown">
                                <strong>
                                    <span class="colored">The Leading </span>
                                    Outdoor and Indoor <span class="colored">Digital Display </span>
                                    Manufacturer
                                </strong>
                            </h2>
                            <p class="animated fadeInUp">
                                Present & future all about new technologies. Digital
                                Signage Solutions is delivering wonderful performance in commercial and mass
                                communications.
                            </p>
                        </div>
                        <div class="span6">
                            <img src="img/slides/camera/slide3/iMac.png" alt="" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- slideshow end here -->

</section>
<!-- /section featured -->

<section id="content" class="alt-bg">
    <div class="container">


        <div class="row">

            <div class="span4">
                <div class="service-box aligncenter flyLeft">
                    <h5>CNC <span class="colored">Machine</span></h5>
                    <div class="icon">
                        <img src="img/service/cnc.jpg" alt="" />
                    </div>

                    <p>
                        Common manufacturing processes that use CNC machines include bending, drilling, hole
                        punching, gluing, grinding, laser cutting, flame and plasma cutting, routing, picking
                        and placing, ultrasonic welding and more.
                    </p>

                </div>
            </div>
            <div class="span4">
                <div class="service-box aligncenter flyIn">
                    <h5>UV <span class="colored">Machine</span></h5>
                    <div class="icon">
                        <img src="img/service/uv.jpg" alt="" />
                    </div>

                    <p>
                        UV printing is a form of digital printing that uses ultra-violet lights to dry or cure
                        ink as it is printed. As the printer distributes ink on the surface of a material,
                        specially designed UV lights follow close behind, “curing” or “drying” the ink
                        instantly.
                    </p>

                </div>
            </div>
            <div class="span4">
                <div class="service-box aligncenter flyRight">
                    <h5>Injection Molding <span class="colored">Machine</span></h5>
                    <div class="icon">
                        <img src="img/service/injection.jpg" alt="" />
                    </div>

                    <p>
                        Injection molding is a manufacturing process for the fabrication of plastic parts.
                        Injection molding process, defect, equipment, and material information.<br /><br />
                    </p>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="span12">
                <div class="cta-box">
                    <div class="row">
                        <div class="span8">
                            <div class="cta-text">
                                <h2>Special price in very <span>limited</span> times</h2>
                            </div>
                        </div>
                        <div class="span4 flyIn">
                            <div class="cta-btn">
                                <a href="javascript:void(0);" class="btn btn-theme">
                                    <i class="icon-phone"></i>
                                    01991-744959
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="works">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h4 class="title">Our  <strong><span class="colored">Projects</span></strong></h4>
                <div class="row">
                    <div class="span4 box-project">
                        <a href="project-details.html?id=1">
                            <div class="service-box aligncenter flyIn">
                                <h5>HOTELS <span class="colored">& RESORTS</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="project-details.html?id=2">
                            <div class="service-box aligncenter flyIn">
                                <h5>CORPORATE <span class="colored"> OFFICE</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>MUSEUMS <span class="colored">& LIBRARIES</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>RESTAURANTS <span class="colored"> & CAFE</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>BANKS <span class="colored"></span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>BASEMENT <span class="colored"> BRANDING</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>EDUCATIONAL <span class="colored"> INSTITUTES</span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="span4 box-project">
                        <a href="#">
                            <div class="service-box aligncenter flyIn">
                                <h5>FENCING <span class="colored"> </span></h5>
                                <div class="icon">
                                    <img src="img/service/digital print.jpg" alt="" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
